h3{
    font-size: 25px !important;
}

.color:hover{
    background-color: rgb(231, 200, 239);
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px blueviolet;}
}

button{
    animation-name: button_animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes button_animation{
    from{font-size: 20px;}
    to{font-size: 25px;}
    from{box-shadow: 2px 2px 40px blueviolet;}
    to{box-shadow: 2px 2px 40px blue;}
}
